<!--Berrichi Faiza 2022-->

<div id="p-wrapper">
	<ul id="piano">
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
    <li><a routerLink="subscriber" routerLinkActive="active"></a><span></span><b>Liste des abonnés</b></li>
    <li><a href="#"></a><b>Recherche</b>
			<div id="search">
				<form>
					<input type="text" placeholder="Search..." />
				</form>
			</div>
		</li>
		<li><div class="anchor"></div></li>
  
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div></li>
	</ul>
</div>


<router-outlet></router-outlet>



 



